[package]
name = "newsapi"
version = "0.3.1"
authors = ["biomunky", "lotia"]
edition = "2018"
homepage = "https://github.com/biomunky/newsapi"
description = "Wrapper for the newsapi, uses reqwest to do the http work. A learn by doing project"
keywords = ["newsapi", "client"]
license = "MIT/Apache-2.0"
readme = "README.md"
categories = ["api-bindings"]

[lib]
name="newsapi"
path="src/lib.rs"

[dependencies]
lazy_static = "1.4"
chrono = { version = "0.4", features = ["serde"] }
reqwest = { version = "0.10", features = ["blocking", "json"] }
custom_error = "1.7.1"
percent-encoding = "2.1.0"
url = "2.1"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
enum-map = "0.6.2"
